Source: jolicloud-apt
Section: jolicloud
Priority: optional
Maintainer: Jolicloud developers <developers@jolicloud.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.0
Homepage: http://www.jolicloud.com
Vcs-Git: git://github.com/jolicloud/jolicloud-apt.git
Vcs-Browser: https://github.com/jolicloud/jolicloud-apt

Package: jolicloud-apt
Architecture: all
Description: Jolicloud APT configuration
 Configures your APT system to add the Jolicloud repository into your
 Ubuntu workstation.

