Source: jolicloud-apt
Section: jolicloud
Priority: optional
Maintainer: Jolicloud developers <developers@jolicloud.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.0
Homepage: http://www.jolicloud.com

Package: jolicloud-apt-config
Architecture: all
Description: Jolicloud APT configuration
 Configures your APT system to give priority
 to Jolicloud packages so that you have a stable
 applications directory and Jolicloud system.

Package: jolicloud-apt-test-repository
Architecture: all
Description: Jolicloud Test APT configuration
 Configures your APT system to add the jolicloud-test repository into your
 netbook.
