#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1


configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.

	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp  
	dh_testdir
	touch $@

clean: 
	dh_testdir
	dh_testroot
	rm -rf build-stamp configure-stamp

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs


# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
	dh_install
	dh_icons
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	
	# We do not want any of jolicloud-apt's /etc/apt/sources.list.d/ files
	# to be treated as conffiles. This happens automatically with
	# dh_installdeb notices that it's installing files under /etc/, however
	# this unnecessarially complicates upgrades if any source files were
	# changed, or if the jolicloud-apt-* package is removed.
	for d in `find debian -name DEBIAN -type d`; do \
		grep -v sources.list.d $$d/conffiles > $$d/conffiles-new; \
		mv $$d/conffiles-new $$d/conffiles; \
	done
	
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure

